langchain
langchain-core 
langchain-community 
langchain-groq
langchain-huggingface
langchain-text-splitters

transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
torch
pypdf
chromadb 
langchain-chroma
sentence-transformers
faiss-cpu

youtube-transcript-api